// src/styles/components/_charts.scss

@use '@carbon/styles/scss/type' as type;
@use '@carbon/styles/scss/spacing' as spacing;
@use '@carbon/styles/scss/theme';
@use 'sass:map';

.chart-wrapper {
  margin-bottom: spacing.$spacing-07;
}

.chart-title {
  font-size: map.get(type.$heading-03, font-size);
  font-weight: map.get(type.$heading-03, font-weight);
  line-height: map.get(type.$heading-03, line-height);
  letter-spacing: map.get(type.$heading-03, letter-spacing);
  margin-bottom: spacing.$spacing-05;
  color: theme.get('text-primary');
}

.chart-description {
  font-size: map.get(type.$body-01, font-size);
  font-weight: map.get(type.$body-01, font-weight);
  line-height: map.get(type.$body-01, line-height);
  letter-spacing: map.get(type.$body-01, letter-spacing);
  margin-bottom: spacing.$spacing-06;
  color: theme.get('text-secondary');
}