/* styles/components/_header.scss */

/* Carbon default menu item styles */
a.cds--header__menu-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border: 2px solid transparent;
  background-color: var(--cds-background, #ffffff);
  block-size: 100%;
  color: var(--cds-text-secondary, #525252);
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.125rem;
  text-decoration: none;
  transition: background-color 0.11s, border-color 0.11s, color 0.11s;
  -webkit-user-select: none;
  user-select: none;
}
