@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/theme' as theme;

.model-heading {
  margin-top: $spacing-07;
  margin-bottom: $spacing-05;
}

.model-shell {
  padding: $spacing-07;

  &__title {
    @include type-style('heading-04');
    font-weight: 600;
    margin-top: $spacing-07;
    margin-bottom: $spacing-05;
    color: theme.$text-primary;
  }

  &__subtitle {
    @include type-style('body-short-01');
    font-weight: 400;
    color: theme.$text-secondary;
    margin-bottom: $spacing-07;
  }

  &__accordion {
    margin-top: $spacing-07;

    .cds--accordion__heading {
      @include type-style('heading-01');
      font-weight: 600;
    }

    .cds--accordion__content {
      @include type-style('body-long-01');
      color: theme.$text-primary;
      padding: $spacing-05 $spacing-06;
    }

    h3 {
      @include type-style('heading-02');
      margin: $spacing-05 0 $spacing-03;
    }
  }
}