@use '@carbon/styles/scss/colors' as *;

$tag-colors: (
  "category": $cyan-50,
  "media": $purple-50,
  "keyword": $magenta-50,
);

@mixin tag-theme($type) {
  $color: map-get($tag-colors, $type);
  @if $color {
    background-color: $color !important;
    color: white !important;
  } @else {
    background-color: gray !important;
    color: white !important;
  }
}