@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as type;
@use '@carbon/styles/scss/theme';
@use './carbon-markdown';

.text-card {
  background: theme.get('layer-01');
  border: 1px solid theme.get('border-subtle-01');
  padding: $spacing-06;
  // box-shadow: theme.get('shadow-layer');
  max-width: 100%;
  margin: 0 !important;

  .card-title {
    @include type.type-style('heading-03');
    font-weight: 600;
    margin-bottom: $spacing-01;
  }

  .card-meta,
  .card-submeta,
  .card-repository {
    @include type.type-style('body-compact-01');
    color: theme.get('text-secondary');
  }

  .card-snippet {
    @include type.type-style('body-01');
    margin-bottom: $spacing-03;
  }

  .textcard-divider {
    border: none;
    margin: $spacing-05 0;
    height: 1px;
    background-color: theme.get('border-subtle-01');
  }
}