@use '@carbon/styles/scss/theme' as theme;

// $primary-color: theme.$interactive-01;
// $secondary-color: theme.$background;
// $background-color: theme.$background;
// $text-color: theme.$text-primary;
// $link-color: theme.$link-primary;
// $link-hover-color: theme.$link-primary-hover;
// $border-color: theme.$border-subtle;
// $hover-color: theme.$layer-hover;